# dependencies
node_modules/

# next.js
.next/
out/

# production
build/
dist/

# local env files
.env
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# os/editor
.DS_Store
*.swp

# drizzle/local artifacts
drizzle-studio/
local.db*
*.tsbuildinfo
